
a {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;

}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: linear-gradient(left, #21d4fd, #b721ff);
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}



.limiter {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("login.png");
}


.loginbox {
  width: 300px;
  background: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  padding: 70px 50px 30px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 1, 1);
}


.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}



.wrap-inp {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

input:focus, textarea:focus {
    outline: 0;
}

.inp {
  font-family: sans-serif;
  border: none;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-inp {
  outline: nome;
  font-family: sans-serif;
  position: absolute;
  display: block
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-inp::before {
  content: "";
  display: block;
  outline:none;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 20px;
  transition: all 0.4s;
  background: #6a7dfe;
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-inp::after {
  font-family: sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  border-radius: 20px;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
}

.inp:focus + .focus-inp::after {
  top: -15px;
}

.inp:focus + .focus-inp::before {
  width: 100%;
}

.has-val.inp + .focus-inp::after {
  top: -15px;
}

.has-val.inp + .focus-inp::before {
  width: 100%;
}



.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: linear-gradient(left, #21d4fd, #b721ff);
}




.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	color: #0066ff;
  padding-top: 13px;
	outline: 5px;
}

.wrap-login-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;


  margin: 0 auto;
}


.login-form-btn {
  font-family: sans-serif;
  font-size: 15px;
  color: #000;
	background-color: #0066ff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}



.dnt-have-ac {
  padding-top: 40px;
  font-family: sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.sign-up {
  font-family: sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}



.validate-inp {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: sans-serif;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;

  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
