*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.team-section{
  overflow: hidden;
  padding: 60px;
  text-align: center;
  background: #34495e;
}

.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
  color: white;
}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}

.pics{
  margin-bottom: 40px;
}
.pics a{
  display: inline-block;
  margin: 0px 30px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.pics a img{
  width:100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.pics a:hover > img{
  filter: none;
}

.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section:target{
  height: auto;
}

.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
