*{
  margin:0;
  padding:0;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("shopping.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 30px;

}

.main-nav li{
  display: inline-block;
}

.main-nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 14px;
}

.logo-name{
  margin: 20px;
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.main-nav li.active a{

}

.main-nav li a:hover{
  border: 1px solid white;
  border-radius: 5px;
}

.logo img{
  width:150px;
  height:auto;
  float: left;
}

body{
  font-family: monospace;
}

.row{
  max-width: 1200px;
  margin: auto;
}

.entrance{
  position: absolute;
  width: 1200px;
  margin-left: 50px;
  margin-top: 50px;
}

h1{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin-left: 100px;
  margin-top: 270px;

}

.button{
  margin-left: 440px;
  margin-top: 30px;
}

.btn{
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 14px;
  text-transform: uppercase;

}

.trailer-btn:hover{
  background-color: darkblue;
  transition: all 0.5s ease-in;
}

.more-btn:hover{
  background-color: darkblue;
  transition: all 0.5s ease-in;
}
